/*Template*/
body {
  font-family: 'Roboto Condensed', 'Times New Roman', serif;
  font-size: 20px;
  color: #333333;
}

p a {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
}

/*Main Content*/
.main-content{
    margin: 20px;
    height: 100%;
}
.main-content-row{
    height: 100%;
}
.glyphicon-big{
    font-size: 50px;
}

.progress{
    width: 100%;
}
.statistics-menu{
    height: 100%;
}
/*Community Menu*/
.community-menu-list{
    list-style: none;
    padding: 0px;
}
.community-menu-list li{
    margin-bottom: 5px;
}
.community-menu-list li button{
    width: 100%;
}
/*Footer*/
footer {
  padding: 50px 0 65px;
}
footer .list-inline {
  margin: 0;
  padding: 0;
}
footer .copyright {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0;
}

